body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
                display: flex;
                padding: 20px;

            }



            .registration {
                align-items: center;
                display: flex;
                justify-content: center;
                flex-basis: auto;
                flex-direction: column;
                margin-top: 120px;
            }

           
            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

             .bg-dark {
             background-color:  #636b6f!important;

            }
            .navbar {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: .4rem 1rem;



            }    
            *, ::after, ::before {
                box-sizing: border-box;
            }


