body {
	background-image: "https://getbg.net/upload/full/8/417626_art_gory_derevya_vershiny_oblaka_gryada_1680x1050_(www.GetBg.net).jpg";
}
nav {
	    text-align: right;
	    cbackground-color: black;
	}	
a {
		text-decoration: none;
    	padding left: 180px;
    	padding-right: 50%;
}

.logo{

	    text-align: center;
}

.main{

	text-align: center;
    margin-top: 180px;
}

.block1 {
	    float: left;
    text-align: left;
    display: block;
    width: 180px;
    padding-left: 40px;
    margin-top: 60px;
}

.block2{

	    float: left;
    text-align: center;
    display: block;
    width: 180px;
    padding-left: 40px;
    margin-top: 60px;
}

.block3{
	    float: left;
    text-align: center;
    display: block;
    width: 180px;
    padding-left: 40px;
    margin-top: 60px;
}

.block4{
	    float: left;
    text-align: right;
    display: block;
    width: 180px;
    padding-left: 40px;
    margin-top: 60px;
}
}