@media(max-width: 767px){

.box-group: col.3 .box{
	margin: auto;
	margin-bottom: 15px;
}
.col.3{
	width: 100%;
}
}

@media (min-width: 767px) and (max-width: 999px){
.col.3{

	width: 50%;
}
.box-group: col.3 .box{
	margin: auto;
	margin-bottom: 15px;
}
}