* {
    font-family: "Open Sans", Arial, sans-serif;
    /* -webkit-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    box-sizing: border-box;
}
.container{
    @media all and (max-width: 100%) {
    .col {

                width: 50%;
    }
}
}

.header {
    background-image: url('/Users/ir4/www/dev/site/pages/slide_03.JPG');

    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    margin-top: -123px;
       
   
}



header{
    display: flex;
    flex-direction: row;
    min-width: 1140px;
    align-items: baseline;
    justify-content: space-between;
    position: fixed;
      
   
}
nav {

        list-style: none;
        display: inline-block;
        text-align: right;
        color: white;
        font-size: 13px;
        font-family: "FontAwesome";
        margin-right: -160px;
        position: relative;
        text-transform: uppercase;

    }   

.menu {

    margin: 0;
    padding: 0;
    display: block;
}
a {
        text-decoration: none;
        padding left: 180px;
        padding-right: 4%;
        color: white;
        font-size: 10px;
        margin-top: -25px;
        text-transform: uppercase;
}

.container1{

        text-align: center;
        margin-top: 120px;
        color: white;
        margin-bottom: 130px;
        font-size: 10px;   

}

h1 {
    color: white;
    font-size: 25px;
}

.D {

    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -30px;
    padding-bottom: 55px;
    margin-bottom: -30px;
    padding-top: 160px;
}
.P {

    color: white;
    font-size: 12px;
    text-align: center;
}

.logo{
    margin-left: 120px;
    height: 19px;
    margin-top: 10px;
    
}

h5{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 55px;
}
button {


    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
}







body{
    background-image: url('http://365psd.ru/images/backgrounds/bg-lightl-892.jpg');
    font-family: "Open Sans", Arial, sans-serif;
}

.main{
        margin-bottom: 80px;
    }

.content {

    text-align: center;
    margin-top: 100px;
    
}

h3 {
    margin-top: 140px;
    text-align: center;
    margin-bottom: 100px;

  
}

h5::after,
h3::after{
    content: "";
    display: block;
    height: 3px;
    background-color: black;
    width: 70px;
    margin: auto;
    margin-top: 20px;

}


h4{
    color: black;
    font-size: 16px;
    margin-top: 90px;
}
.pM {
    color: grey;
    font-size: 14px;
   
}
.pM1 {
    color: grey;
    font-size: 14px;
    margin-top: -20px;
}

.box {

    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 40px 25px;
    margin-bottom: 20px;
    max-width: 300px;
    text-align: center;
    min-height: 240px;
    
}
.edit.box{
    transform: translate(0, 0);
    animation: typing 3s ease infinite;
}
 @keyframes typing {
    0%{
        transform: translate(0, 0) rotate(0);
    }
    50%{
        transform: translate(20px, 0) rotate(5deg);
    }
    100%{
        transform: translate(200px, 0) rotate(0);
    }
 }

.box-group-row {
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        }
.box-group {
    margin-left: -15px;
    margin-right: -15px;
}


#logo1 {
    color: white;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

main{

    background-image: url('/Users/ir4/www/dev/site/pages/what-we-do-bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    width: 100%;
    display: inline-block;
    min-width: 1140px;
    
 

}

.main2img{
    
    height: 410px;
    max-width: 570px;
    float: right;
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 60px;
    padding-left: 290px;
    padding-right: 150px;
    padding-top: 80px;
    margin-right: -40px;
   
    
}
    
.col-6{
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 220px;
    display: inline-block;
    position: relative;

   }


#butt{
    color: black;
    background-color: white;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    position: absolute;
    margin-left: 490px;

}
#butt2{
    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-left: 300px;
      
}  

#a2{
 color: grey;

}
#portfolio{

    text-align: center;
    margin-bottom: 70px;
    color: black !important;
  
}
.photo{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    font-size: 0;
    height: 500px;
    min-width: 1140px;
    
}
.gallery{
    text-align: center;
    color: grey;
    font-size: 13px;
    display: inline-block;
    list-style: none;
    position: relative;
}
.text{
    text-align: left;
    display: block;
    color: white;
    font-size: 12px;
    font-family: "Open Sans", Arial, sans-serif;
    margin-left: 249px;
    margin-bottom: 40px;
    padding-top: 30px;
    color: grey;
    margin-top: 40px;
}

}
article {
    background-image: url('/Users/ir4/www/dev/site/pages/blog-bg.PNG');
    height: 750px; 
    width: 100%;
    background-size: cover;
    margin: 20px auto;
    background-position: center;
    display: inline-block;

}

.blog_img {
font-size: 0;
position: relative;
width: 555px;
}

.blog__img img {
max-width: 100%;
 }

.blog_text {
bottom: 0;
left: 0; 
right: 0;
position: absolute;
z-index: 1;
font-size: initial;
background: rgba(0, 0, 0, 0.4);

}

.blog_gallery {
display: flex;
flex-direction: column;
max-height: 550px;
flex-wrap: wrap;
align-content: space-between; 
background: purple; 
 }

h5{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 55px;
}
#gla{
    float: right;
    margin-right: 260px;
    margin-left: 500px;
    margin-top: -455px;
    height: 210px;
    width: 550px;
    position: absolute;
    padding-left: 30px;
}
#fru{
    height: 453px;
    width: 550px;
    padding-left: 200px;
    padding-bottom: 120px;
    margin-top: -50px;
    margin-left: -51px;
    position: inherit;
    

}
#pal{
    float: right;
    height: 210px;
    width: 550px;
    position: absolute;
    padding-top: 190px;
    padding-right: 280px;
    padding-left: 30px;
}

.bl1{
    float: center;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 60px;
    border: 1px solid #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #eaeaef;
    color: black;
    position: relative;
}

.bl2{

    float: center;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 60px;
    border: 1px solid #ffffff;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #eaeaef;
    color: black;
    position: relative;

}

.bl3{
    float: center;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 60px;
    border: 1px solid #ffffff;
    margin-left: 10px;
    margin-right: 20px;
    background-color: #eaeaef;
    color: black;
    position: relative;
}

.bl4{

    float: center;
    text-align: center;
    display: inline-block;
    width: 180px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 120px;
    margin-left: 10px;
    border: 1px solid #ffffff;
    background-color: #eaeaef;
    color: black;
    position: relative;

}
span{
    color: #7faf81;
}
.main3{
    background-color: white;
    height: 400px;
}

.footer{
    background-image: url('/Users/ir4/www/dev/site/pages/фон черный.PNG');
    height: 650px; 
    width: 100%;

}
#map1{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: -5px;
    padding-bottom: 75px;
    padding-top: 110px;
}
#map{
    color: white;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-left: 260px;
    height: 300px;
    width: 460px;

}






.footer1{
    color: white;
    background-color: #282c2d;
    margin-top: -20px;
    height: 60px;
    padding-left: 260px;
    padding-top: 20px;
}

.fo{
    color: #822d27;
   } 
   .co{
    color: white;
   }

   #r {
    float: right;
    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-left: 10px;
    margin-right: 160px;
    margin-top: 2px;

   }
   #r1{
    float: right;
     color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-left: 10px;
    margin-top: 2px;
   }
   #r2{
    float: right;
    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-left: 10px;
    margin-top: 2px;
   }
   #r3{
    float: right;
    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-top: 2px;

    margin-left: 10px;
   }
   #r4{
    float: right;
    color: white;
    background-color: #7faf81;
    border-radius: 50px;
    padding-top: 10px;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-bottom-color: #7faf81;
    border-left-color: #7faf81;
    border-right-color: #7faf81;
    border-top-color: #7faf81;
    margin-left: 10px;
    margin-top: 2px;
   }

   #name{
    float: right;
    position: relative;
    margin-top: -313px;
    margin-right: 400px;
    opacity: 0.2;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    padding-right: 30px;
    padding-top: 5px;
   }

   #email{
    float: right;
    margin-top: -313px;
    margin-right: 450px;
    opacity: 0.2;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: left;
    padding-right: 30px;
    padding-top: 5px;
    position: relative;
   }
   #message{


   }